

<h1 class="header">Tax</h1>
<div class="row expertise__body">
<div class="col-lg-5">
  <%= image_tag('tax-c.jpg', class:"img-fluid expertise-picture") %>
</div>
<div class="expertise__info col-lg-5" >
<p class = "expertise__text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<ul class="expertise__list">
  <li>Lorem ipsum </li>
  <li>dolor sit amet</li>
  <li>adipisicing elit</li>
  <li> sed do eiusmod tempor</li>
  <li>incididunt ut labore </li>
 </ul>
 <button class="btn btn-outline-primary expertise__contact--top" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
  Contact Us
 </button>
  </div>
  </div>

 <section class="s-solutions">

 		<h1 >Часто задаваемые вопросы</h1>

   </section>

   <div class="solutions-list">

 		<div class="solutions-item" id="bx_651765591_48" onclick="myFunction(this.id)" >
 			<p class="solutions-item__title h5">Является неоплата (неполная оплата) стоимости недвижимости существенным нарушением договора, влекущим право продавца требовать его расторжения?</p>
 			<div class="solutions-item__answer-wrap">
 				<div class="solutions-item__answer user-content">
 					<p style="text-align: justify;">
 	На данный вопрос судебная практика не дает однозначного ответа. Ряд арбитражных судов Российской Федерации считает, что это является существенным нарушением договора, которое влечет право продавца требовать его расторжения, другой ряд занимает иную позицию по данному вопросу. В связи с этим, при возникновении такой ситуации требуется анализировать практику конкретного суда.
 </p>				</div>
 			</div>
 		</div>


 		<div class="solutions-item" id="bx_651765591_47" onclick="myFunction(this.id)">
 			<p class="solutions-item__title h5">Какие действия предпринять, если продавец недвижимости уклоняется от государственной регистрации перехода права собственности?</p>
 			<div class="solutions-item__answer-wrap">
 				<div class="solutions-item__answer user-content">
 					<p style="text-align: justify;">
 	В данном случае Вам необходимо обратиться в суд. Пунктом 61 Постановления Пленума ВС РФ № 10 и Пленума ВАС РФ № 22 от 29 апреля 2010 г. определено, что, если одна из сторон договора уклоняется от совершения действий по государственной регистрации перехода права, другая сторона вправе обратиться с иском о государственной регистрации перехода права собственности.
 </p>
 <p style="text-align: justify;">
 </p>
 <p style="text-align: justify;">
 </p>
 <p>
  <br>
 </p>				</div>
 			</div>
 		</div>


 		<div class="solutions-item" id="bx_651765591_57" onclick="myFunction(this.id)">
 			<p class="solutions-item__title h5">Является ли порядок оплаты существенным условием договора купли-продажи недвижимости?</p>
 			<div class="solutions-item__answer-wrap">
 				<div class="solutions-item__answer user-content">
 					<p style="text-align: justify;">
 	Нет, не является. Судебной практикой арбитражных судов Российской Федерации определено, что порядок оплаты не является существенным условием договора купли-продажи на том основании, что параграф 7 главы 30 Гражданского кодекса Российской Федерации не относит порядок оплаты к существенному условию договора купли-продажи недвижимости.
 </p>				</div>
 			</div>
 		</div>


 		<div class="solutions-item" id="bx_651765591_58" onclick="myFunction(this.id)">
 			<p class="solutions-item__title h5">Можно ли взыскать стоимость пользования имущества, если лицо пользовалось им без договора аренды?</p>
 			<div class="solutions-item__answer-wrap">
 				<div class="solutions-item__answer user-content">
 					<p style="text-align: justify;">
 	 Да, это возможно. Действующая судебная практика говорит о том, что в том случае, если хозяйствующий&nbsp;субъект пользовался имуществом&nbsp;без действующего договора аренды, то с него подлежит взысканию стоимость пользования данным имуществом. В такой категории дел предметом доказывания является сам факт пользования, а также его стоимость.
 </p>				</div>
 			</div>
 		</div>


 		<div class="solutions-item" id="bx_651765591_59" onclick="myFunction(this.id)">
 			<p class="solutions-item__title h5">Каков будет срок действия договора субаренды, если он заключен на более длительный срок, нежели чем договор аренды?</p>
 			<div class="solutions-item__answer-wrap">
 				<div class="solutions-item__answer user-content">
 					<p style="text-align: justify;">
 	 В том случае, если договор субаренды заключен на больший срок, нежели чем договор аренды, то договор субаренды будет считаться действующий именно на срок основного договора аренды, так как договор аренды является основанием для заключения договора субаренды. Договор субаренды не может действовать дольше, чем договор аренды.
 </p>				</div>
 			</div>
 		</div>


 		<div class="solutions-item" id="bx_651765591_60" onclick="myFunction(this.id)">
 			<p class="solutions-item__title h5">Будет ли взыскана арендная плата за пользование имуществом после прекращения договора аренды за тот период, когда арендодатель уклоняется от его приемки?</p>
 			<div class="solutions-item__answer-wrap">
 				<div class="solutions-item__answer user-content">
 					<p style="text-align: justify;">
 	 Нет, не будет. Пунктом 37 Информационного письма Президиума ВАС РФ от 11 января 2002 г. № 66 «Обзор практики разрешения споров, связанных с арендой» определено, что арендодатель не вправе требовать с арендатора платы за период просрочки возврата имущества в связи с прекращением договора в случае, если арендодатель сам уклоняется от приемки арендованного имущества.
 </p>				</div>
 			</div>
 		</div>
     <button class="btn btn-outline-primary expertise__contact--bottom" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
       Contact Us
     </button>

 	</div>


   <%= render partial: 'offCanvas' %>

   <%= render partial: 'collapse.js' %>
