<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Client's email: <%= @message.email %></p>
    <p>Client's name <%= @message.name %>!</p>
    <p>
    --------------------------
        CLIENT'S MESSAGE:
    --------------------------
    </p>
    <p><%= @message.message %></p>
  </body>
</html>
