/* ==========================================================================
   VARIABLES
   ========================================================================== */

//Colors
$white: #fff; // white
$black: #192127;// black
//shades of gray
$gray-0: #61676b;// Darkest gray
$gray-1: #72797e;
$gray-2: #afbac4;
$gray-3: #bbc1c6;
$gray-4: #e3e5e9;
$gray-5: #f7f9fc; //Lightest gray

//colors of shadows
$shadow-color: rgba(0,0,0,0.14);//shadow of box
$shadow-when-hover: rgba(0,0,0,0.35);//shadow when user hovers

$background-color-arrow: rgba(255, 0, 0, 0.3);
$background-color-arrow-hover: rgba(255, 0, 0, 0.5);
$yellow-color-arrow: #ffff00;

$red: #ff0000;


/* ==============================
/*  Setting Everything to Zero
 * ============================== */

 html, body, div, span, applet, object, iframe,
 h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, font, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	outline: 0;
 	font-weight: inherit;
 	font-style: inherit;
 	font-size: 100%;
 	font-family: 'Commissioner-Light';
  font-size: 1.1rem;
 	vertical-align: baseline;
 }
 /* remember to define focus styles! */
 :focus {
 	outline: 0;
 }
 body {
 	line-height: 1.6;
 	color: black;
 	background: white;
 }

 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: "";
 }
 blockquote, q {
 	quotes: "" "";
 }

 h1, h2, h3 {
   margin: 0;
  	padding: 0;
  	border: 0;
  	outline: 0;
  	font-weight: inherit;
  	font-style: inherit;
  	font-size: 100%;
   font-family: "Jura-Bold";
   vertical-align: baseline;
 }

 h4 {
   font-family: "Jura-Regular";
 }



/* ==============================
/*  Typography
 * ============================== */

@font-face {
  font-family: "Commissioner-Light";
  src: asset-url('Commissioner-Light.ttf') format("truetype");
}

@font-face {
  font-family: "Commissioner-ExtraLight";
  src: asset-url('Commissioner-ExtraLight.ttf') format("truetype");
}

@font-face {
  font-family: "Commissioner-Regular";
  src: asset-url('Commissioner-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: asset-url('OpenSans-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Commissioner-Bold";
  src: asset-url('Commissioner-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Jura-Regular";
  src: asset-url('Jura-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Jura-Bold";
  src: asset-url('Jura-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Comfortaa-Bold";
  src: asset-url('Comfortaa-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: asset-url('Roboto-Bold.ttf') format("truetype");
}


.logo__social-media {
  margin: 0;
  padding: 0;
  height: 30px;
  width: 30px;

}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

/* CSS Grid
   ========================================================================== */
/**
 * Responsive with no need of media queries,
 * auto-fill and minmax. Full explanition:
 *  */

  .css-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-column-gap: 1.6rem;
    grid-row-gap: 1.6rem;
    /* Cancel rules from float layout  */
    margin: 0 0 0 0;
    overflow: visible;
}

@media only screen and (max-width: 400px) {
  .css-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}


/**
 * The bare-list object which removes the indents
 * and bullets from a list.
 */

.bare-list {
  list-style-type: none;
  padding: 0;
}
