

/* ==============================
/*  Footer
 * ============================== */


 .content {
  min-height: calc(100vh - 60px);
  margin: 0 0 1.5em 0;
}

.footer {

  padding: 1rem 0 0 0;
  margin: 0 0 1rem 0;
  background-color: #192127;
  color: white;


  .footer__contact {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //align-items: center;

    padding: 1rem 0 0 0;
    margin: 0 0 2rem 0;


    .footer__contact--title {

    }



    .footer__phone-number {
      li {
        font-size: .8rem;

        svg, img {
          height: 1.3em;
          width: 1.3em;
        }
      }

    }

    .footer__address {
      li {
        font-size: .8rem;
      }

      .footer__address--title {
        display: flex;
        align-items: baseline;
      }

    }


  }



  .footer__menu {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //align-items: center;

    padding: 1rem 0 0 0;
    margin: 0 0 2rem 0;

    li, a {
      text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
    }




    .footer__menu--socialmedia {

      padding: 1em 0 0 0;

    }



  }


  .footer__logo {
    padding: 1rem 0 0 0;
    margin: 0 0 2rem -30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


    .footer__logo--image {


    }

    .footer__logo--name {



      .h5, h5 {
        font-size: 4rem;
      }

    .logo__first-letter__footer{
      color: #67001a;;
    }

  }

    .footer__logo--text {
      width: 50%;
    }

  }

  .footer__logo-mobile {
    display: none;
  }

}

@media (max-width: 480px) {

  .footer {


  .footer__logo-desktopTablet {
    display: none;
  }

  .footer__logo-mobile {
    display: flex;
  }

  .footer__logo {
    margin: 0 0 1.5rem 0;
    align-items: center;

  }

  .footer__contact {
    margin: 0 0 0.5rem 0;
    padding: 0 0 0 4rem;

    .footer__address {
      padding: 1rem 0 0 0;
    }

  }

  .footer__menu {

    padding: 0 0 0 4rem;

    .footer__menu--socialmedia {

      padding: 0 0 0 0;

    }



  }


  }

}
