


.logo__first-letter {
  color: #67001a;
  font-family: 'Commissioner-Light';
  letter-spacing: 1px;
}

.logo {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;


  .logo__name {
    padding: 0 0 0 1rem;
    display: flex;
    flex-direction: column;

    .logo__panagiotis {
      display: flex;
    }

    .logo__subheader {
        color: #67001a;
    }

  }


}



.logo__footer {
  color: #fff;
}

 .language__mobile {

    display: none;


  }


.language__desktop-tablet {
  display: flex;
  justify-content: space-around;
  align-self: center;
  padding: 0 0 0 1rem;
}


@media (max-width: 480px) {

  .navbar-light {

    .navbar-toggler {
      padding: 0.25rem 0.1rem;

    }

    .navbar-brand {
      margin: 0;
    }

  }

   .logo {
    font-size: .8em;
    padding: 0;
    margin: 0;

    .logo__name {
      padding: 0 0 0 .3rem;

    }

  }


    .language__desktop-tablet {
      display: none;
    }

    .language__mobile {
      display: flex;
      justify-content: flex-start;

      img {
        max-height: 2.1rem;
        max-width: 2.1rem;
        align-self: baseline;

      }

    }


  }
