

.language {



  .header__languages {

    display: flex;
    align-items: center;

    a {
      padding: 0 0 0 .4rem;
      color: #67001a;
      font-size: 1.1rem;
      font-family: 'Jura-Regular';
      text-decoration: none;

      &:hover {

        text-decoration: underline;
        opacity: .8;

      }
    }

  }

}





.logo {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: 'Jura-Regular';

  .logo__first-letter {
    color: #67001a;
    font-family: 'Commissioner-Light';
    letter-spacing: 1px;
  }


  .logo__name {
    padding: 0 0 0 1rem;
    display: flex;
    flex-direction: column;
    font-family: 'Jura-Regular';

    .logo__panagiotis {
      display: flex;
      font-family: 'Jura-Regular';
    }

    .logo__subheader {
        color: #67001a;
    }

  }


}



.logo__footer {
  color: #fff;
}

 .language__mobile {

    display: none;


  }


.language__desktop-tablet {
  display: flex;
  justify-content: space-around;
  align-self: center;
  padding: 0 0 0 1rem;
}

  .nav-item {

    li {
    color: #67001a;
  }

}



@media (max-width: 480px) {

  .navbar-light {

    .navbar-toggler {
      padding: 0.25rem 0.1rem;

    }

    .navbar-brand {
      margin: 0;
    }

  }

   .logo {
    font-size: .8em;
    padding: 0;
    margin: 0;

    .logo__name {
      padding: 0 0 0 .3rem;

    }

  }


    .language__desktop-tablet {
      display: none;
    }

    .language__mobile {
      display: flex;
      justify-content: flex-start;

      .header__languages {

        display: flex;
        align-items: center;

        svg, img {
          height: 70%;
          width: 70%;
        }

        a {
          padding: 0 0 0 .4rem;
          color: #000;
          font-size: .9rem;
          font-family: 'Jura-Regular';
          text-decoration: none;

          &:hover {

            text-decoration: underline;
            opacity: .8;

          }
        }

      }

    }


  }
