<ul class="navbar-nav flex-fill justify-content-evenly">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Composer Article</a>
  </li>
  <li class="nav-item">
    <%= link_to "Log out", logout_path, class: "nav-link" ,method: :delete %>
  </li>
</ul>
