<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="flex-fill">
<div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav flex-fill justify-content-evenly">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">About Me</a>
    </li>
    <li class="nav-item">
      <%= link_to 'Contact', contact_path, class:"nav-link" %>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Practices
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" href="#">Immigration</a></li>
        <li><a class="dropdown-item" href="#">Tax and Accounting</a></li>
        <li><a class="dropdown-item" href="#">Invest in Greece</a></li>
        <li><a class="dropdown-item" href="#">Civil Law</a></li>
        <li><a class="dropdown-item" href="#">Real Estate</a></li>
        <li><a class="dropdown-item" href="#">Criminal Law</a></li>
      </ul>
    </li>
  </ul>
</div>
</div>
